# Nothing here, content will be retrieved from GitHub's VisualStudio.gitingore file
# To add custom content use the extensions.gitingore file that will be appended to the content 
# from VisualStudio.gitingore
